@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="ID" underline="true"/>
                            <#input id="schoolId" name="学校编号" underline="true"/>
                            <#input id="classId" name="课程编号" underline="true"/>
                            <#input id="teamId" name="结对编号" underline="true"/>
                            <#input id="groupId" name="团队编号" underline="true"/>
                            <#input id="password" name="密码" underline="true"/>
                            <#input id="ifPm" name="是否PM"/>
                </div>

                <div class="col-sm-6">
                            <#input id="ifUse" name="用来设置，是否该账号使用" underline="true"/>
                            <#input id="assistantId" name="学生对应的作业验收助教" underline="true"/>
                            <#input id="telephone" name="电话" underline="true"/>
                            <#input id="email" name="邮箱" underline="true"/>
                            <#input id="name" name="姓名" underline="true"/>
                            <#input id="account" name="账户" underline="true"/>
                            <#input id="isStu" name="false的话就是助教" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CmStudentInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CmStudentInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/stuManagement/cmStudent/cmStudent_info.js"></script>
@}
