@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="schoolId" name="" value="${item.schoolId}" underline="true"/>
                            <#input id="classId" name="" value="${item.classId}" underline="true"/>
                            <#input id="teamId" name="" value="${item.teamId}" underline="true"/>
                            <#input id="groupId" name="" value="${item.groupId}" underline="true"/>
                            <#input id="password" name="" value="${item.password}" />
                </div>

                <div class="col-sm-6">
                            <#input id="ifPm" name="" value="${item.ifPm}" underline="true"/>
                            <#input id="ifUse" name="用来设置，是否该账号使用" value="${item.ifUse}" underline="true"/>
                            <#input id="assistantId" name="学生对应的作业验收助教" value="${item.assistantId}" underline="true"/>
                            <#input id="telephone" name="" value="${item.telephone}" underline="true"/>
                            <#input id="email" name="" value="${item.email}" underline="true"/>
                            <#input id="name" name="" value="${item.name}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CmStudentInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CmStudentInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/stuManagement/cmStudent/cmStudent_info.js"></script>
@}
